<!-- Consiste en un Portfolio Editable donde con una cuenta de administrador se pueden borrar o editar 
        todos los datos y secciones que contiene el CV.
    Para obtener una cuenta puede contactarse haciendo click en los iconos de la Red Social que desee -->

<!-- Site footer -->
<footer class="site-footer contenedor">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6 style="color:#ea4c89">ACERCA DEL PROYECTO</h6>
                <p class="text-justify"><i>RESUMEN:</i>
                    Consiste en un Portfolio Editable donde con una cuenta de administrador
                    se pueden borrar o editar
                    todos los datos y secciones que contiene el CV.
                    Para obtener una cuenta puede contactarse haciendo click en los iconos de la Red Social que desee
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Tecnologias Utilizadas</h6>
                <ul class="footer-links">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>BOOTSTRAP</li>
                    <li>ANGULAR</li>
                    <li>TYPESCRIPT</li>
                    <li>JAVA</li>
                    <li>SPRING</li>
                    <li>MYSQL</li>
                 </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>DEPLOY</h6>
                <ul class="footer-links">
                    <li>Heroku</li>
                    <li>Firebase</li>
                    <li>Clever Cloud</li>
                    <li>Git</li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <span style="color:#ea4c89">DNVX.</span>
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://github.com/Nahuel81/" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                    <li><a class="twitter" href="https://www.twitter.com/Villandie" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="mailto:diegovillan81@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/diegonahuel/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>