<header id="welcome-section">
  <nav id="navbar">
    <img src="https://i.postimg.cc/2jb4t5zJ/APLogo-20-20.png" alt="Logo de Argentina programa" class="logoHeader">
    <ul>
      <li><a href="https://www.twitter.com/Villandie" target="_blank"><i class="fa-brands fa-twitter"></i><span>
            </span></a></li>
      <li><a href="mailto:diegovillan81@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i>
          <span></span></a></li>
      <li><a href="https://github.com/Nahuel81/" id="profile-link" target="_blank"><i
            class="fa-brands fa-github"></i><span></span></a></li>
      <li><a href="https://www.linkedin.com/in/diegonahuel/" target="_blank"><i class="fa-brands fa-linkedin"></i>
          <span></span></a></li>
      <li *ngIf="!isloged()" class="nav-item">
        <a data-bs-toggle="modal" data-bs-target="#myModal" class="nav-link active" class="btn tooltips"
          data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa-solid fa-user"></i>
        </a>
      </li>
      <li *ngIf="isloged()" class="nav-item">
        <a (click)="handleClear()" (click)="autenticacionService.logoutUser()" class="nav-link active"
          class="btn tooltips"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      </li>
    </ul>
  </nav>

  <!-- MODAL LOGIN-->
  <div class="modal fade bd-example-modal-lg" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="border-radius: 20px">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="imglogo"><img src="../../../assets/logopersonal.jpg" width="130px"></div>
        <div class="modal-body">
          <form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input formControlName="email" [ngClass]="{
                  'is-invalid': Email?.errors && Email?.touched,
                  'is-valid': !Email?.errors && Email?.touched
                }" type="email" class="form-control" id="exampleFormControlInput1" placeholder="email"
                autocomplete="off" required />
              <div *ngIf="Email?.errors && Email?.touched">
                <p *ngIf="Email?.hasError('required')" class="text-danger">
                  El email es requerido
                </p>
                <p *ngIf="Email?.hasError('email')" class="text-danger">
                  El formato del email debe ser valido
                </p>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input [ngClass]="{
                  'is-invalid': Password?.errors && Password?.touched,
                  'is-valid': !Password?.errors && Password?.touched
                }" formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
                placeholder="password" autocomplete="off" required />
              <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" style="color: black" class="text-danger">
                  El password es requerido
                </p>
              </div>
            </div>
            <button id="btnCerrar" type="submit" class="btn btn-primary" data-bs-dismiss="modal">
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>